@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&display=swap");

body {
  font-family: "Cairo", sans-serif !important;
}

.chart-container {
  font-family: "Cairo", sans-serif !important;
}

.layout-side-section {
  padding-top: 15px;
  color: #fff !important;
}
@media screen and (min-width: 767px) {
  .layout-side-section {
    background-color: #24b0c7;
  }
}
.layout-side-section .icon-btn {
  background-color: transparent !important;
  border: 1px solid white;
}
.layout-side-section .icon,
.layout-side-section .sidebar-label .icon {
  --icon-stroke: #fff;
  stroke: #fff !important;
  fill: transparent;
  stroke-width: 2;
  stroke: #fff;
}
.layout-side-section .sidebar-label {
  color: #fff;
}
.layout-side-section p,
.layout-side-section .text-muted {
  color: #fff !important;
}
.layout-side-section .checkbox .label-area {
  color: #fff;
}
.layout-side-section a.add-group-by,
.layout-side-section a.list-tag-preview {
  color: #fff;
}
.layout-side-section a.add-group-by:hover,
.layout-side-section a.list-tag-preview:hover {
  color: #fff;
}
.layout-side-section .sidebar-item-control .btn {
  background: transparent;
  border: 1px solid white;
}

header.navbar.navbar-expand.sticky-top {
  background-color: #24b0c7;
}

.widget {
  border-radius: 20px;
}
.widget .widget-head .widget-label .widget-title {
  color: white;
}
.widget .widget-head .widget-label .widget-title svg {
  --icon-stroke: #fff;
  stroke: #fff !important;
  fill: transparent;
  stroke-width: 2;
  stroke: #fff;
}

.widget.edit-mode .widget-head .widget-label .widget-title {
  color: #1F272E;
}

.page-container {
  background-color: #b4f5ff;
}
.page-container .page-head {
  background-color: #b4f5ff;
}

.widget.links-widget-box {
  background: #24b0c7 0% 0% no-repeat padding-box;
  border-radius: 30px;
  padding: 15px;
}
.widget.links-widget-box .link-item {
  color: #06345d;
  background-color: var(--fg-hover-color);
}
.widget.links-widget-box .link-item:hover .indicator-pill {
  background: #178394;
  color: white;
}

.widget.links-widget-box.skeleton-card {
  background-color: var(--skeleton-bg);
}

.list-sidebar .sidebar-section {
  padding: 10px;
}

.desk-sidebar-item.standard-sidebar-item:hover {
  background-color: #24b0c7;
}
.desk-sidebar-item.standard-sidebar-item a:hover {
  color: white;
}

.standard-sidebar .standard-sidebar-item {
  background-color: #4ec3d5;
}
.standard-sidebar .standard-sidebar-item:hover {
  background-color: #24b0c7;
}
.standard-sidebar .standard-sidebar-item.selected {
  background-color: #178394;
}

.search-dialog .search-results .search-sidebar .standard-sidebar-item {
  background-color: #4ec3d5;
}
.search-dialog .search-results .search-sidebar .standard-sidebar-item:hover {
  background-color: #178394;
}
.search-dialog .search-results .search-sidebar .standard-sidebar-item.selected {
  background-color: #178394;
}

.desk-sidebar .standard-sidebar-item {
  background-color: #4ec3d5;
}
.desk-sidebar .standard-sidebar-item:hover {
  background-color: #178394;
}
.desk-sidebar .standard-sidebar-item.selected {
  background-color: #178394;
}

.desk-sidebar-item.selected {
  background-color: #178394;
  border: 1px solid white;
}
.desk-sidebar-item.selected a {
  color: white;
}

.page-content .desk-sidebar-item a {
  color: white;
}

#navbar-breadcrumbs li.disabled a {
  color: #fff;
}
#navbar-breadcrumbs a {
  color: white;
}
#navbar-breadcrumbs a::before {
  content: " ";
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right: 10px;
}

[data-page-route=Workspaces] .layout-main .layout-side-section {
  scrollbar-color: #178394 transparent;
  scrollbar-width: unset;
}
[data-page-route=Workspaces] .layout-main .layout-side-section::-webkit-scrollbar {
  width: 5px;
  scrollbar-color: #178394 transparent;
  scrollbar-width: unset;
}
[data-page-route=Workspaces] .layout-main .layout-side-section::-webkit-scrollbar-thumb {
  background: #178394;
  border-radius: 20px;
  scrollbar-color: #178394 transparent;
  scrollbar-width: unset;
}
[data-page-route=Workspaces] .layout-main .layout-side-section::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}
[data-page-route=Workspaces] .layout-main .layout-main-section-wrapper {
  scrollbar-color: #178394 transparent;
  scrollbar-width: unset;
}
[data-page-route=Workspaces] .layout-main .layout-main-section-wrapper::-webkit-scrollbar {
  width: 5px;
  scrollbar-color: #178394 transparent;
  scrollbar-width: unset;
}
[data-page-route=Workspaces] .layout-main .layout-main-section-wrapper::-webkit-scrollbar-thumb {
  background: #178394;
  border-radius: 20px;
  scrollbar-color: #178394 transparent;
  scrollbar-width: unset;
}
[data-page-route=Workspaces] .layout-main .layout-main-section-wrapper::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

.navbar-nav .icon {
  --icon-stroke: #fff;
  stroke: #fff !important;
  fill: transparent;
  stroke-width: 2;
  stroke: #fff;
}

.standard-sidebar-label {
  color: white;
}

.navbar .navbar-nav .nav-link {
  padding: 0;
  color: white;
}

.widget.shortcut-widget-box.skeleton-card {
  background-color: var(--skeleton-bg);
}

.widget.shortcut-widget-box {
  background: #24b0c7 0% 0% no-repeat padding-box;
  border-radius: 30px;
  padding: 15px;
}
.widget.shortcut-widget-box .widget-head .widget-title {
  color: #fff !important;
}
.widget.shortcut-widget-box:hover {
  background: #178394 0% 0% no-repeat padding-box;
}
.widget.shortcut-widget-box:hover .widget-title {
  color: #fff !important;
}

.indicator-pill.yellow {
  background: #24b0c7;
  color: white;
}
.indicator-pill.yellow:before {
  background: white;
}
.indicator-pill.yellow:after {
  background: white;
}

.indicator-pill-right.yellow .indicator-pill-round.yellow {
  background: #24b0c7;
  color: white;
}
.indicator-pill-right.yellow .indicator-pill-round.yellow:before {
  background: white;
}
.indicator-pill-right.yellow .indicator-pill-round.yellow:after {
  background: white;
}

.indicator-pill.gray {
  background: #24b0c7;
  color: white;
}
.indicator-pill.gray:before {
  background: white;
}
.indicator-pill.gray:after {
  background: white;
}

.indicator-pill-right.gray {
  background: #24b0c7;
  color: white;
}
.indicator-pill-right.gray:before {
  background: white;
}
.indicator-pill-right.gray:after {
  background: white;
}

.indicator-pill-round.gray {
  background: #24b0c7;
  color: white;
}
.indicator-pill-round.gray:before {
  background: white;
}
.indicator-pill-round.gray:after {
  background: white;
}

.indicator-pill.grey {
  background: #24b0c7;
  color: white;
}
.indicator-pill.grey:before {
  background: white;
}
.indicator-pill.grey:after {
  background: white;
}

.indicator-pill-right.grey {
  background: #24b0c7;
  color: white;
}
.indicator-pill-right.grey:before {
  background: white;
}
.indicator-pill-right.grey:after {
  background: white;
}

.indicator-pill-round.grey {
  background: #24b0c7;
  color: white;
}
.indicator-pill-round.grey:before {
  background: white;
}
.indicator-pill-round.grey:after {
  background: white;
}

.workspace-skeleton .shortcut-widget-box {
  height: 50px;
}

.layout-main-section .ce-block__content .divider {
  display: none;
}

#current_lang {
  font-size: 14px;
}

[data-theme=dark] .title-area .title-text {
  color: #1F272E;
}
[data-theme=dark] .widget.links-widget-box .link-item {
  color: #fff;
}

.nav-link.lang-icon::before {
  content: "";
  font: normal normal normal 14px/1 FontAwesome;
  margin-right: 5px;
  vertical-align: middle;
}

#search-form .search-bar {
  border: none;
  border-radius: 20px;
  background: #24b0c7 !important;
}
#search-form .search-bar .search-input {
  background: transparent;
  color: white;
}
#search-form .search-bar .search-input::placeholder {
  color: white;
}
#search-form .search-bar .search-input:focus {
  background: transparent;
}
#search-form .search-bar .search-input::-webkit-input-placeholder {
  color: white;
}
#search-form .search-bar .search-input::-moz-placeholder {
  color: white;
}
#search-form .search-bar .search-input:-ms-input-placeholder {
  color: white;
}
#search-form .search-bar .search-input:-moz-placeholder {
  color: white;
}

.page-card .page-card-head {
  background: linear-gradient(-135deg, #24b0c7 0%, #3e997280 100%);
  font-size: 14px;
  border-top-left-radius: var(--border-radius-md);
  border-top-right-radius: var(--border-radius-md);
}

.page_content .page-card {
  border-radius: var(--border-radius-md);
}

.page_content .page-card .page-card-head .indicator {
  color: white;
  font-size: 14px;
  line-height: 28px;
}

.btn.btn-primary {
  background-image: -moz-linear-gradient(top, #24b0c7 0%, #3e997280 100%);
  background-image: -webkit-linear-gradient(top, #24b0c7 0%, #3e997280 100%);
  background-image: linear-gradient(to bottom, #24b0c7 0%, #3e997280 100%);
  -webkit-box-shadow: 0px 0px 30px 0px #24b0c7;
  box-shadow: 0px 0px 30px 0px #24b0c7;
  background-size: auto 140%;
  border: 0px;
}

.btn-primary:hover,
.btn-primary:focus {
  background-position: bottom center;
}

.btn-primary:hover {
  color: #fff;
  background-color: #24b0c7;
  border-color: #24b0c7;
}

.btn {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0px 30px;
  line-height: 40px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: 0;
}
