[data-theme="light"] {
    --base-color: #24b0c7;
    --secondary-color: #24b0c738;
    --brand-color: var(--base-color);
    --primary-color: var(--base-color);
    --primary: var(--base-color);
    --highlight-color: var(--secondary-color);
  }
  
  .btn-primary:not(:disabled):not(.disabled):active,
  div#driver-popover-item
    .driver-popover-footer
    button.driver-next-btn:not(:disabled):not(.disabled):active,
  .btn-primary:not(:disabled):not(.disabled).active,
  div#driver-popover-item
    .driver-popover-footer
    button.driver-next-btn:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle,
  div#driver-popover-item
    .driver-popover-footer
    .show
    > button.dropdown-toggle.driver-next-btn {
    color: #fff;
    background-color: var(--primary);
    border-color: white;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&display=swap");
  
  body {
    font-family: "Cairo", sans-serif !important;
  }
  
  .chart-container {
    font-family: "Cairo", sans-serif !important;
  }
  
  $color_1: #06345d;
  $color_2: white;
  $color_3: #fff;
  $color_4: #1f272e;
  $background-dark-blue: #06345d;
  $background-color_1: #24b0c7;
  $background-color_2: #24b0c738;
  $background-color_3: #57a182;
  $background-color_4: #204f79;
  $background-color_5: var(--fg-hover-color);
  $scrollbar-color: #24b0c7;
  $active_navbar: #24b0c7;
  
  .layout-side-section {
    @media screen and (min-width: 767px) {
      background-color: $background-color_1;
    }
  
    padding-top: 15px;
    color: #fff !important;
  
    .icon-btn {
      background-color: transparent !important;
      border: 1px solid $color_2;
    }
  
    .icon,
    .sidebar-label .icon {
      --icon-stroke: #fff;
      stroke: #fff !important;
      fill: transparent;
      stroke-width: 2;
      stroke: #fff;
    }
  
    .sidebar-label {
      color: $color_3;
    }
  
    p,
    .text-muted {
      color: #fff !important;
    }
  
    .checkbox .label-area {
      color: #fff;
    }
  
    a.add-group-by,
    a.list-tag-preview {
      color: #fff;
  
      &:hover {
        color: #fff;
      }
    }
  
    .sidebar-item-control .btn {
      background: transparent;
      border: 1px solid white;
    }
  }
  
  header.navbar.navbar-expand.sticky-top {
    background-color: $background-color_1;
  }
  
  .widget.shortcut-widget-box,
  .widget.links-widget-box {
    border-radius: 5px;
  
    .widget-head {
      .widget-label {
        .widget-title {
          svg {
            --icon-stroke: #fff;
            stroke: #fff !important;
            fill: transparent;
            stroke-width: 2;
            stroke: #fff;
          }
  
          color: $color_2 !important;
        }
      }
    }
  }
  
  .widget.edit-mode {
    .widget-head {
      .widget-label {
        .widget-title {
          color: #1f272e;
        }
      }
    }
  }
  
  .page-container {
    background-color: $background-color_2;
  
    .page-head {
      background-color: $background-color_2;
    }
  }
  
  .widget.links-widget-box {
    .link-item {
      color: black;
      background-color: $background-color_5;
      margin-bottom: 7px;
  
      &:hover {
        .indicator-pill {
          background: $active_navbar;
          color: $color_2;
        }
      }
    }
  
    background: $background-color_1 0% 0% no-repeat padding-box;
    border-radius: 10px;
    padding: 15px;
  }
  
  .widget.links-widget-box.skeleton-card {
    background-color: var(--skeleton-bg);
  }
  
  .list-sidebar {
    .sidebar-section {
      padding: 10px;
    }
  }
  
  .desk-sidebar-item.standard-sidebar-item {
    padding: 7px;
    margin-bottom: 0;
    &:hover {
      background-color: $background-color_1;
      border-radius: 0;
    }
  
    a {
      &:hover {
        color: $color_2;
      }
    }
  
    .sidebar-item-control svg {
      stroke: white;
    }
  }
  
  .standard-sidebar {
    .standard-sidebar-item {
      background-color: $background-color_3;
  
      &:hover {
        background-color: $background-color_1;
      }
    }
  
    .standard-sidebar-item.selected {
      background-color: $active_navbar;
      border-radius: 0;
      border-inline-start: 2px solid white;
    }
  }
  
  .search-dialog {
    .search-results {
      .search-sidebar {
        .standard-sidebar-item {
          background-color: $background-color_3;
  
          &:hover {
            background-color: $active_navbar;
          }
        }
  
        .standard-sidebar-item.selected {
          background-color: $active_navbar;
        }
      }
    }
  }
  
  .desk-sidebar {
    .standard-sidebar-item {
      &:hover {
        background-color: $active_navbar;
      }
    }
  
    .standard-sidebar-item.selected {
      background-color: $active_navbar;
      border-radius: 0;
    }
  }
  
  .desk-sidebar-item.selected {
    background-color: $active_navbar;
    padding-inline-start: 4px;
    border-inline-start: 4px solid white;
  
    a {
      color: $color_2;
    }
  }
  
  .page-content {
    .desk-sidebar-item {
      a {
        color: $color_2;
      }
    }
  }
  
  #navbar-breadcrumbs {
    display: none !important;
  
    li.disabled a {
      color: $color_3;
    }
  
    a {
      color: $color_2;
  
      &::before {
        content: " ";
        border: solid #fff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        margin-right: 10px;
      }
    }
  }
  
  [data-page-route="Workspaces"] {
    .layout-main-section {
      border-radius: 0;
    }
  
    .sidebar-item-container .sidebar-item-container {
      margin-left: 0;
  
      .desk-sidebar-item {
        padding-inline-start: 20px;
      }
  
      .desk-sidebar-item.selected {
        padding-inline-start: 16px;
      }
    }
  
    .btn-reset.standard-sidebar-label {
      display: none;
    }
  
    .layout-main .layout-side-section {
      scrollbar-color: $scrollbar-color transparent;
      scrollbar-width: unset;
      padding: 0;
      padding-top: 10px;
      padding-inline-start: 10px;
      width: auto;
  
      &::-webkit-scrollbar {
        width: 5px;
        scrollbar-color: $scrollbar-color transparent;
        scrollbar-width: unset;
      }
  
      &::-webkit-scrollbar-thumb {
        background: $scrollbar-color;
        border-radius: 20px;
        scrollbar-color: $scrollbar-color transparent;
        scrollbar-width: unset;
      }
  
      &::-webkit-scrollbar-track {
        background: #ddd;
        border-radius: 20px;
      }
    }
  
    .layout-main-section-wrapper {
      scrollbar-color: $scrollbar-color transparent;
      scrollbar-width: unset;
  
      &::-webkit-scrollbar {
        width: 5px;
        scrollbar-color: $scrollbar-color transparent;
        scrollbar-width: unset;
      }
  
      &::-webkit-scrollbar-thumb {
        background: $scrollbar-color;
        border-radius: 20px;
        scrollbar-color: $scrollbar-color transparent;
        scrollbar-width: unset;
      }
  
      &::-webkit-scrollbar-track {
        background: #ddd;
        border-radius: 20px;
      }
    }
  
    .standard-sidebar-item {
      &:focus-within {
        background-color: $active_navbar;
      }
    }
  }
  
  .navbar-nav {
    .icon {
      --icon-stroke: #fff;
      stroke: #fff !important;
      fill: transparent;
      stroke-width: 2;
      stroke: #fff;
    }
  }
  
  .standard-sidebar-label {
    color: $color_2;
  }
  
  .navbar {
    .navbar-nav {
      .nav-link {
        padding: 0;
        color: $color_2;
      }
    }
  }
  
  .widget.shortcut-widget-box.skeleton-card {
    background-color: var(--skeleton-bg);
  }
  
  .widget.shortcut-widget-box {
    .widget-control>* {
      stroke: white;
    }
  
    background: $background-color_1 0% 0% no-repeat padding-box;
    border-radius: 30px;
    padding: 15px;
  
    .widget-head {
      .widget-title {
        color: $color_3 !important;
      }
    }
  
    &:hover {
      background: $active_navbar 0% 0% no-repeat padding-box;
  
      .widget-title {
        color: $color_3 !important;
      }
    }
  }
  